[Unit]
Description=Autopostinstallation
After=network.target 

[Service]
RemainAfterExit=true
ExecStart=-/usr/bin/wget --no-check-certificate -O /dev/null -o /dev/null --quiet 'https://127.0.0.1:4443/dbwrite&command=autopostinstall'

[Install]
WantedBy=multi-user.target
